{
  "extends": ["eslint:recommended", "react", "prettier"],
  "rules": {
    "no-new": [0],
    "new-cap": [0],
    "prefer-reflect": [0]
  },
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
