.profile-info {
  position: relative;
  margin: 0 -8px;
  background-color: #f2f6fa;
}

.profile-info_logout {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #f2f6fa;
  outline: none;
}

.profile-info .icon_header-write {
  width: 25px;
  height: 25px;
}

.profile-info_img {
  width: 100%;
  object-fit: cover;
}

.profile-info_txt {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #fff;
}

.profile-info_txt p {
  margin: 0;
  padding: 10px 0;
}

.profile-info_name {
  font-size: 21px;
  font-weight: 600;
  width: 50%;
  text-align: start;
}

.profile-info_status {
  color: #8ed9b2;
  width: 50%;
  text-align: end;
}

.profile-info_label {
  font-weight: 500;
}

.profile-info_email,
.profile-info_phone {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-info_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info_edit {
  width: 300px;
  margin-bottom: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8ed9b2;
  background-color: #fff;
  color: #8ed9b2;
  font-weight: 400;
  font-size: 18px;
}

.profile-info_edit:hover,
.profile-info_edit:active,
.profile-info_edit:focus {
  outline-color: #8ed9b2;
}
