.search-input {
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #f8f8f8;
}

.search-input__input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.search-input__input,
.search-input__input::-webkit-search-cancel-button,
.search-input__input::-webkit-search-results-button {
  -webkit-appearance: none;
}

.search-input__input::placeholder {
  color: #8d8d8e;
}
