.message-wrapper {
  margin: 0 -8px;
  display: flex;
  padding: 6px 56px 14px;
  cursor: pointer;
}

.message-wrapper_my {
  margin: 0 -8px;
  flex-direction: row-reverse;
  padding: 6px 14px 6px 56px;
  cursor: pointer;
}

.message-wrapper_highlighted {
  background-color: #edf9f3;
  cursor: pointer;
}

.message-wrapper_my_highlighted {
  background-color: #edf9f3;
  cursor: pointer;
}

.message {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px;
  padding: 6px 12px 18px;
  text-align: left;
  letter-spacing: -0.45px;
  color: #000;
  border: 1px solid #c3cede;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  background-color: #fff;
  font-size: 17px;
  line-height: 22px;
}

.message_my {
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  background-color: #f2f6fa;
}

.message__time {
  right: 10px;
  color: #555;
}

.message__status,
.message__time {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 10px;
  line-height: 10px;
}

.message_my .message__status {
  display: block;
}

.message_my .message__time {
  right: 20px;
  color: #555;
}

.message .icon {
  position: relative;
  right: -3px;
}
